
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}
.container{
    background-color: rgb(255, 255, 255);
    max-width: 960px;
    max-height: 5000px;
    padding-left: 0px;
    padding-right: 0px;
}
.whitebg{
    background-color: rgb(255, 255, 255);
}
footer {
    height: 100px;  
    font-size: small;
}
.row{
    max-width: 960px;
    max-height: 5000px;
    padding-left: 0px;
    padding-right: 0px;
    
}