
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}
.container{
    background-color: white;
    max-width: 960px;
    min-height: 780px;
    max-height: 5000px;
    padding-left: 0px;
    padding-right: 0px;
}
.whitebg{
    background-color: rgb(255, 255, 255);
}
footer{
    height: 100px;  
    font-size: small;
}
.navbar{
    width: 100%;
}

@media screen and (min-width: 360px) {
    .twitter{
        width: 5%;
    }
    .insta{
        width: 5%;
    }
    .face{
        width: 5%;
    }
}