
body{
    background: rgb(32,170,243);
    background: radial-gradient(circle, rgb(0,0,0) 0%, rgba(255,255,255,1) 100%);

}
.container{
    background-color: white;
    max-width: 960px;
    max-height: 1000px;
}
.whitebg{
    background-color: rgb(255, 255, 255);
}