
body{
    font-family: 'Darker Grotesque';font-size: 24px;
    background-color: white;
}
.container{
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    min-height: 780px;
    max-height: 5000px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}
.whitebg{
    background-color: rgb(255, 255, 255);
}
footer{
    height: 100px;  
    font-size: 16px;
}
.navbar{
    width: 100%;
}
.img{
    max-width: 30px;
}
@media screen and (min-width: 360px) {
    .twitter{
        width: 5%;
    }
    .insta{
        width: 5%;
    }
    .face{
        width: 5%;
    }
    .pad{
        padding-left: 10px;
        padding-right: 10px;
    }
}
.some:hover{
    opacity: 0.7;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

.btn {
    border: none;
    background-color: grey;
    padding: 14px 28px;
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
    color: rgb(216, 210, 178);
    width:100%;
  }

  .container1 {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .container1 img {vertical-align: middle;}
  
  .container1 .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  .container2 {
    position: relative;
    text-align: center;
    font-size: 40px;
    color: white;
    width: 1000px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }